<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lime.anxin.mapper.DetectorderMapper">

    <resultMap id="BaseResultMap" type="cn.lime.anxin.model.entity.Detectorder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="qrcode" column="qrcode" jdbcType="VARCHAR"/>
            <result property="bindUserId" column="bind_user_id" jdbcType="BIGINT"/>
            <result property="bindTime" column="bind_time" jdbcType="TIMESTAMP"/>
            <result property="returnDeliverCompany" column="return_deliver_company" jdbcType="VARCHAR"/>
            <result property="returnDeliverId" column="return_deliver_id" jdbcType="VARCHAR"/>
            <result property="detectState" column="detect_state" jdbcType="INTEGER"/>
            <result property="reportTitle" column="report_title" jdbcType="VARCHAR"/>
            <result property="reportIsNormal" column="report_is_normal" jdbcType="TINYINT"/>
            <result property="reportTime" column="report_time" jdbcType="BIGINT"/>
            <result property="reportUrl" column="report_url" jdbcType="VARCHAR"/>
            <result property="contactorUrl" column="contactor_url" jdbcType="VARCHAR"/>
            <result property="gmtCreated" column="gmt_created" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="pageVo" type="cn.lime.anxin.model.vo.DetectOrderPageVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="isUpdated" column="is_updated" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="qrCode" column="qrcode" jdbcType="VARCHAR"/>
        <result property="state" column="detect_state" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="BIGINT"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="productMainUrl" column="main_url" jdbcType="VARCHAR"/>
        <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
        <result property="price" column="price" jdbcType="INTEGER"/>
        <result property="bindUserId" column="bing_user_id" jdbcType="BIGINT"/>
        <result property="bindUserName" column="bind_user_name" jdbcType="VARCHAR"/>
        <result property="bindTime" column="bind_time" jdbcType="BIGINT"/>

        <result property="canReportUpdate" column="can_report_update" jdbcType="INTEGER"/>
        <result property="updateProductId" column="update_product_id" jdbcType="BIGINT"/>
        <result property="updateSkuId" column="update_sku_id" jdbcType="BIGINT"/>

        <collection property="skuAttributes" ofType="cn.lime.mall.model.vo.SkuAttributeVo">
            <id property="id" column="att_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="attributeName" column="att_name" jdbcType="VARCHAR"/>
            <result property="attributeValue" column="stt_value" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <resultMap id="detailVo" type="cn.lime.anxin.model.vo.DetectOrderDetailVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="isUpdated" column="is_updated" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="qrCode" column="qrcode" jdbcType="VARCHAR"/>
        <result property="state" column="detect_state" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="relateOrderId" column="order_id" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="BIGINT"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="productMainUrl" column="main_url" jdbcType="VARCHAR"/>
        <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
        <result property="price" column="price" jdbcType="INTEGER"/>
        <result property="bindUserId" column="bing_user_id" jdbcType="BIGINT"/>
        <result property="bindUserName" column="bind_user_name" jdbcType="VARCHAR"/>
        <result property="bindTime" column="bind_time" jdbcType="BIGINT"/>
        <result property="returnDeliverCompany" column="return_deliver_company" jdbcType="VARCHAR"/>
        <result property="returnDeliverCode" column="return_deliver_id" jdbcType="VARCHAR"/>
        <result property="canReportUpdate" column="can_report_update" jdbcType="INTEGER"/>
        <result property="updateProductId" column="update_product_id" jdbcType="BIGINT"/>
        <result property="updateSkuId" column="update_sku_id" jdbcType="BIGINT"/>
        <collection property="skuAttributes" ofType="cn.lime.mall.model.vo.SkuAttributeVo">
            <id property="id" column="att_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="attributeName" column="att_name" jdbcType="VARCHAR"/>
            <result property="attributeValue" column="stt_value" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id,product_id,sku_id,
        code,qrcode,bind_user_id,
        bind_time,return_deliver_company,return_deliver_id,
        detect_state,report_title,report_is_normal,
        report_time,report_url,contactor_url,
        gmt_created,gmt_modified
    </sql>
    <select id="page" resultMap="pageVo">
        with pro_main_url as (SELECT pu.product_id,
                                     pu.url as main_url
                              FROM Product_Url pu
                              WHERE pu.url_type = 1)
        SELECT do.id,
               do.is_updated,
               do.code,
               do.qrcode,
               do.detect_state,
               do.can_report_update,
               do.update_product_id,
               do.update_sku_id,
               UNIX_TIMESTAMP(do.gmt_created) as create_time,
               do.product_id,
               p.product_name,
               pro_main_url.main_url,
               do.sku_id,
               s.price,
               sa.id                          as att_id,
               sa.attribute_name              as att_name,
               sa.attribute_value             as att_val,
               do.bind_user_id,
               u.name                         as bind_user_name,
               UNIX_TIMESTAMP(do.bind_time)   as bind_time
        FROM DetectOrder do
                 left join Product p on
            p.product_id = do.product_id
                 left JOIN pro_main_url on
            pro_main_url.product_id = do.product_id
                 left JOIN Sku s on do.sku_id = s.sku_id
                 LEFT JOIN SkuAttribute sa on s.sku_id = sa.sku_id
                 LEFT JOIN `User` u on u.user_id = do.bind_user_id
        where 1=1
        <if test="bindUserId != null">
            and do.bind_user_id = #{userId}
        </if>
        <if test="bindUserName != null">
            and u.name like CONCAT('%', #{bindUserName}, '%')
        </if>
        <if test="productName != null">
            and p.product_name like CONCAT('%', #{productName}, '%')
        </if>
        <if test="code != null">
            and do.code like CONCAT('%', #{code}, '%')
        </if>
        <if test="state != null">
            and do.detect_state = #{state}
        </if>
        <if test="canUpdate != null">
            and do.can_report_update = #{canUpdate}
        </if>
        <if test="isUpdated != null">
            and do.is_updated = #{isUpdated}
        </if>
        ORDER BY do.gmt_created DESC
    </select>
    <select id="detail" resultMap="detailVo">
        with pro_main_url as (SELECT pu.product_id,
                                     pu.url as main_url
                              FROM Product_Url pu
                              WHERE pu.url_type = 1)
        SELECT do.id,
               do.is_updated,
               do.code,
               do.qrcode,
               do.order_id,
               do.detect_state,
               do.can_report_update,
               do.update_product_id,
               do.update_sku_id,
               UNIX_TIMESTAMP(do.gmt_created) as create_time,
               do.product_id,
               do.return_deliver_company,
               do.return_deliver_id,
               p.product_name,
               pro_main_url.main_url,
               do.sku_id,
               s.price,
               sa.id                          as att_id,
               sa.attribute_name              as att_name,
               sa.attribute_value             as att_val,
               do.bind_user_id,
               u.name                         as bind_user_name,
               UNIX_TIMESTAMP(do.bind_time)   as bind_time
        FROM DetectOrder do
                 left join Product p on
            p.product_id = do.product_id
                 left JOIN pro_main_url on
            pro_main_url.product_id = do.product_id
                 left JOIN Sku s on do.sku_id = s.sku_id
                 LEFT JOIN SkuAttribute sa on s.sku_id = sa.sku_id
                 LEFT JOIN `User` u on u.user_id = do.bind_user_id
        where do.id = #{id}
    </select>
</mapper>
