<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lime.anxin.mapper.DetectorderMapper">

    <resultMap id="BaseResultMap" type="cn.lime.anxin.model.entity.Detectorder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="qrcode" column="qrcode" jdbcType="VARCHAR"/>
            <result property="bindUserId" column="bind_user_id" jdbcType="BIGINT"/>
            <result property="bindTime" column="bind_time" jdbcType="TIMESTAMP"/>
            <result property="returnDeliverCompany" column="return_deliver_company" jdbcType="VARCHAR"/>
            <result property="returnDeliverId" column="return_deliver_id" jdbcType="VARCHAR"/>
            <result property="detectState" column="detect_state" jdbcType="INTEGER"/>
            <result property="reportTitle" column="report_title" jdbcType="VARCHAR"/>
            <result property="reportIsNormal" column="report_is_normal" jdbcType="TINYINT"/>
            <result property="reportTime" column="report_time" jdbcType="BIGINT"/>
            <result property="reportUrl" column="report_url" jdbcType="VARCHAR"/>
            <result property="contactorUrl" column="contactor_url" jdbcType="VARCHAR"/>
            <result property="gmtCreated" column="gmt_created" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,sku_id,
        code,qrcode,bind_user_id,
        bind_time,return_deliver_company,return_deliver_id,
        detect_state,report_title,report_is_normal,
        report_time,report_url,contactor_url,
        gmt_created,gmt_modified
    </sql>
</mapper>
